<div class="row">
    <div class="col-12">
        <div class="card card-table-border-none">
            <div class="card-header justify-content-between card-header-border-bottom">
                <h2>Routes</h2>
            </div>
            <div class="card-body pt-0 pb-3">
                <form id="create-route-form" class="form-inline">
                    <div class="form-group">
                        <label class="mr-2">New route name</label>
                        <input type="text" id="new-route-name" class="form-control mr-2" placeholder="e.g. multimedia">
                    </div>
                    <button type="submit" class="btn btn-success btn-default">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{#routes}}
<div class="row">
    <div class="col-12">
        <div class="card card-table-border-none">
            <div class="card-header justify-content-between card-header-border-bottom">
                <h2 title="{{folder}}">Route: {{name}} (<span id="total-{{name}}">{{total}}</span> torrents)</h2>
                <div class="d-flex align-items-center">
                    <input type="file" accept=".torrent" id='file-{{name}}' style="display:none" onchange='Distribyted.routes.onFileSelected(event, "{{name}}")'>
                    <button type="button" class="btn btn-sm btn-primary btn-default mr-2" onclick='Distribyted.routes.triggerFileDialog("{{name}}")'>Upload .torrent</button>
                    <button type="button" class="btn btn-sm btn-secondary btn-default mr-2" onclick='Distribyted.routes.addMagnet("{{name}}")'>Add magnet</button>
                    <button class="btn btn-sm btn-danger" onclick='Distribyted.routes.deleteRoute("{{name}}")'>Delete route</button>
                </div>
            </div>
            <div class="card-body pt-0 pb-2">
                <table class="table table-sm small card-table route-table table-responsive table-responsive-large mb-0" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30%">Name</th>
                            <th style="width: 15%"><i class="mdi mdi-arrow-down"></i> / <i class="mdi mdi-arrow-up"></i>
                            </th>
                            <th style="width: 10%" class="d-none d-lg-table-cell">Size</th>
                            <th style="width: 15%" class="d-none d-lg-table-cell">Health</th>
                            <th style="width: 35%" class="d-none d-lg-table-cell">Status</th>
                            <th style="width: 5%">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-{{name}}"></tbody>
                    <tfoot id="pager-{{name}}" style="display:none">
                        <tr>
                            <td colspan="5" class="text-right">
                                <nav aria-label="pagination">
                                    <ul id="pagination-{{name}}" class="pagination pagination-sm mb-0 justify-content-end"></ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{{/routes}}


