<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/charts/Chart.min.js"></script>

<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/plugins/toastr/toastr.min.js"></script>
<script src="assets/plugins/handlebars/handlebars.min.js"></script>

<script src="assets/js/humanize.js"></script>
<script src="assets/js/common.js"></script>
<script src="assets/js/cache_chart.js"></script>
<script src="assets/js/topbar.js"></script>
<script>
  if (window.Distribyted && Distribyted.topbar) { try { Distribyted.topbar.start(); } catch(e){} }
  </script>